<% layout("/layouts/boilerplate.ejs") %>
<body>
    <h3>All Listing</h3>

    <% for(let list of listings) {%>
    <div class="card" style="width: 18rem;">
        <img src="<%= list.image  %>" class="card-img-top" alt="listing_image">
        <div class="card-body">
          <p class="card-text"><%=list.title%></p>
          <p>&#2547; <%= list.price.toLocaleString("en-BD") %> / night</p>
        </div>
    </div>
    <% } %>

    <ul>
        <% for(let list of listings) {%>
        <li><a href="/listing/<%= list._id  %>"><%=list.title%></a></li>
        <% } %>
    </ul>
</body>
